div.card-row.docs-landing.layout-align-space-around-center.layout-row.flex
  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase 5분 퀵스타트
          p Angular의 기초 컨셉 설명을 위한 짧은 초심자 가이드

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html") 퀵스타트 보기


  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase 개발자 가이드
          p Angular의 모든 중요 특징들을 다루는 중급 레벨의 개발자 가이드

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/") 가이드 보기


  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase API 레퍼런스
          p Angular의 모든 클래스, 메서드 등에 대한 고급 레퍼런스

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/api/") API 보기

