.grid-fluid.l-space-bottom-8
  .c2 &nbsp;

  .c8.text-center
    h3.text-headline.text-uppercase  미래를 만들기
    p.text-body.
      Angular는 웹 개발이 수월하게 느껴지도록 만들기 위한 열정을 공유하는 엔지니어들의 팀에 의해 만들어졌습니다.
      우리는 아름다운 앱을 만드는 것이 아주 기쁘고 재밌어야 한다고 믿습니다. 우리는 미래를 위한 플랫폼을 만들고 있습니다.

  .c2 &nbsp;
  .clear

.grid-fluid.l-space-bottom-6

  h3.text-headline.text-uppercase.text-center 현재 기여하고 있는 분들

  <!-- BIO CARDS -->
  for type in [ 'Lead', 'Google', 'Community' ]
    h4.text-headline.text-uppercase(style='clear:both')= type
    for person, name in bios
      if person.type == type
        .c3
          md-card(biocard class="bio-card" website="#{person.website}" twitter="#{person.twitter}" pic="#{person.picture}" bio="#{person.bio}"  name="#{person.name}")
            header
              image(src="#{person.picture}" alt="#person.name")

              nav
                button(aria-label="View Bio") View Bio

                if person.twitter
                  a(title="twitter" href="https://twitter.com/#{person.twitter}" ng-click="$event.stopPropagation()") <span class="icon-twitter"></span>

                if person.website
                  a(title="website" href="#{person.website}"  ng-click="$event.stopPropagation()") <span class="icon-publ"></span>

            md-card-content
              h3.text-headline.bio-card-name #{person.name}
              p(class="bio-card-content text-body") #{person.bio}
